
url: https://rebuild.aparcar.org

log:
  level: INFO

database:
  name: collector
  user: collector
  password: secret
  hostname: 127.0.0.1
  port: 5432

origins:
  archlinux:
    description: Upstream Archlinux packages
    alias: Archlinux
    uri: https://archive.archlinux.org
    website: https://archlinux.org
    sources_method: archlinux
    interval: 720 # 12 hours
    suites:
      - core
      - extra
    targets:
      - x86_64

  openwrt:
    description: Upstream OpenWrt images and packages
    alias: OpenWrt
    uri: https://downloads.cdn.openwrt.org
    website: https://openwrt.org
    sources_method: openwrt
    interval: 720 # 12 hours
    suites:
      - SNAPSHOT
    targets:
      - x86/64
      - ath79/generic
      - ramips/mt7620
      - ramips/mt7621

rebuilders:
  archlinux-rebuilderd-official:
    maintainer: unknown
    contact: https://reproducible.archlinux.org
    uri: https://reproducible.archlinux.org#archlinux
    pubkey_signify: ""
    pubkey_pgp: ""
    results_method: rebuilderd
    artifact_storage: False

  archlinux-rebuilderd-wolfpit:
    maintainer: unknown
    contact: https://wolfpit.net
    uri: https://wolfpit.net/rebuild#archlinux
    pubkey_signify: ""
    pubkey_pgp: ""
    results_method: rebuilderd
    artifact_storage: False

  archlinux-rebuilderd-fzylab:
    maintainer: unknown
    contact: unknown
    uri: https://rebuilder.fzylab.net#archlinux
    pubkey_signify: ""
    pubkey_pgp: ""
    results_method: rebuilderd
    artifact_storage: False

  aparcar-openwrt-gitlab:
    maintainer: Paul Spooren
    contact: mail@aparcar.org
    uri: https://gitlab.com/aparcar/openwrt-rebuilder
    pubkey_signify: ""
    pubkey_pgp: ""
    results_method: gitlab
    artifact_storage: True
    gitlab:
      token: "foobar"
      host: https://gitlab.com
      project: aparcar/openwrt-rebuilder
      rbvf: results/rbvf.json.gz