{% extends "base.html" %} {% block content %}
<p style="clear:both;">
    <h1>{{ origin.alias }}</h1>
    <div class="row">
        {% for suite in origin.suites %}
        <div class="col">
            <h2>{{ suite.name }}</h2>
            <div class="row">
                {% for component in suite.components %}
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ component.name }}</h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for target in component.targets %}
                                <li class="list-group-item"><a href="{{ suite.name }}/{{ component.name }}/{{ target.name }}/">{{ target.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
</p>
{% endblock %}