{% extends "base.html" %} {% block content %}
<p style="clear:both;">
    <h2>Rebuilders</h2>
    <p>
        List of active rebuilders delivering results.
    </p>
    <table class="table table-hover table-sm">
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Maintainer
            </th>
            <th scope="col">
                Artifact Support
            </th>
        </tr>
        {% for rebuilder in rebuilders %}
        <tr>
            <td>
                <a href="{{ rebuilder.uri }}">{{ rebuilder.name }}</a>
            </td>
            <td>
                <a href="{{ rebuilder.contact }}">{{ rebuilder.maintainer }}</a>
            </td>

            <td>
                {{ rebuilder.artifact_storage }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}