{% extends "base.html" %} {% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Rebuild Collector</h1>
        <p>
            This is the very early development of a collector for rbvf. The <a href="https://github.com/aparcar/reproducible-builds-verification-format">rbvf files</a> contains rebuild results to show what distributed binaries of open source projects
            are reproducible. Results are stored in a database to generate stats, warnings and if provided by the rebuilder, artifacts like diffoscope outputs or actual binaries.
        </p>
        <p>
            The collector essentially uses origins and rebuilders, where origins are open source projects like Archlinux, Debian or OpenWrt and rebuilders are whoever wants to verify that files provided on download servers are what they state. Those two information
            sources are stored and kept track on.
        </p>

        <p>
            Below listed projects are automatically tested via the distributed testing infrastructure.
        </p>
    </div>
</div>
{% endblock %} {% block content %}
<p style="clear:both;">
    <div class="row">
        {% for origin in origins %}
        <div class="col">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">{{ origin.alias }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ origin.desc_short }}.</p>
                        <a href="/{{ origin.name }}/index.html" class="btn btn-primary">View results</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}