{% extends "base.html" %} {% block content %}
<p style="clear:both;">
    <h2>
        <a href="/{{ origin.name }}">{{ origin.name }}</a> / suites
    </h2>
    <table>
        <tr>
            <th>
                name
            </th>
        </tr>
        {% for suite in origin.suites %}
        <tr>
            <td>
                <a href="{{ suite.name }}/index.html">
                    {{ suite.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}