{% extends "base.html" %}
{% block script %} 
function set_focus(link) {
  if (link.classList.contains("active")) {
      var sources = Array.from(document.getElementsByClassName("source")); 
      sources.map(element => element.style.display = "table-row"); 
      link.classList.remove("active");
  } else {
      var status_links = Array.from(document.getElementsByClassName("status-link")); 
      status_links.map(element => element.classList.remove("active"));
      link.classList.add("active");
      var sources = Array.from(document.getElementsByClassName("source")); 
      sources.map(element => element.style.display = "none");
      var sources = Array.from(document.getElementsByClassName(link.id)); 
      sources.map(element => element.style.display = "table-row");
  }
}

function reverse_mailto(reversed_mail, source) {
    location.href = 'mailto:' + reversed_mail.split("").reverse().join("") +
        '?subject=Reproducibility of "' + source + '"'
}
{% endblock %}
{% block content %}
<h3>
    {{ target.component.suite.origin.name }} / {{ target.component.suite.name }} / {{ target.component.name }} / {{ target.name }} Sources
</h3>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Info
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Sources: {{ sources | length }}</li>
                <li class="list-group-item">Last update: {{ target.timestamp }}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action status-link" id="unreproducible" onclick="set_focus(this)">
                <img src="/static/unreproducible.png" alt="untested icon"> Unreproducible
            </a>
            <a href="#" class="list-group-item list-group-item-action status-link" id="untested" onclick="set_focus(this)">
                <img src="/static/untested.png" alt="untested icon"> Untested
            </a>
            <a href="#" class="list-group-item list-group-item-action status-link" id="reproducible" onclick="set_focus(this)">
                <img src="/static/reproducible.png" alt="untested icon"> Reproducible
            </a>
            <a href="#" class="list-group-item list-group-item-action status-link" id="notfound" onclick="set_focus(this)">
                <img src="/static/notfound.png" alt="untested icon"> Not found
            </a>
          </div>
    </div>
    <div class="col-sm-4">

        <div class="card">
            <div class="card-header">
                Rebuilders
            </div>
            <ul class="list-group list-group-flush">
                {% for rebuilder in rebuilders %}
                <li class="list-group-item"><a href="{{ rebuilder.uri }}">{{ rebuilder.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<h3>Rebuild results</h3>
<table class="table table-hover table-sm">
    <tr>
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Current version
        </th>
        <th scope="col">
            Maintainer
        </th>
        <th scope="col">
            Rebuilds
        </th>
    </tr>
    {% for source in sources %} 
        {% set ns = namespace(statues = []) %}
        {% for result in source.results %}
            {% do ns.statues.append(result.status) %} 
        {% else %} 
            {% set ns.statues = ["untested"] %}
        {% endfor %}
        <tr class="source {{ ns.statues | unique | join(' ') }}">
            <td>
                {{ source.name }}
            </td>
            <td>
                {{ source.version }}
            </td>
            <td>
                <a href="javascript:reverse_mailto('{{ source.maintainer.email | reverse }}', '{{ source.name }}')">
                    {{ source.maintainer.name }}
                </a>
            </td>
            <td>
            {% for result in source.results %}
                <a href="{{ result.storage_uri.uri }}/{{ result.artifacts.diffoscope_html_uri }}" title="{{ result.rebuilder.name }} {{ result.build_date }}">
                    <img src="/static/{{ result.status }}.png" alt="{{ result.status }} icon">
                </a>
            {% else %}
                <img src="/static/untested.png" alt="untested icon"> 
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
<script>
    set_focus(document.getElementById("unreproducible"))
</script>
{% endblock %}