{% extends "base.html" %} {% block content %}
<p style="clear:both;">
    <h2>
        Source {{ source.name }}
    </h2>
    <table class="table">
        <tr>
            <th scope="col">
                Version
            </th>
            <th scope="col">
                Timestamp
            </th>
            <th scope="col">
                Results
            </th>
        </tr>
        {% for version, asd in source.versions %}
        <tr>
            <td>
                {{ version }}
            </td>
            <td>
                {{ timestamp }}
            </td>
            <td>
                -
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}